      <div class="col-10 mx-auto">
        <div class="card-post-grid">
          <% @posts.each do |post| %>
              <div class="card-post">
                <%= image_tag post.image_url %>
                <div class="card-post-infos">
                  <div>
                    <h2><%= post.title %></h2>
                    <p><%= link_to "See more <i class='fa-solid fa-plus' style='color: #77797e;'></i>".html_safe, post_path(post) %></p>
                  </div>
                  <div>
                    <p class="mx-auto"><%= post.user.nickname %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
