<div class="container text-center">
  <div class="post-show col-10 mx-auto">
    <h2 class="my-4"><%= @post.title %></h2>
    <p>Published by <%= @post.user.nickname %></p>
    <%= image_tag @post.url %>
    <div class="col-10 post-content my-4 mx-auto">
      <p class="text-justify"><%= @post.content %></p>
    </div>
  </div>
</div>
