.post-header > img {
  height: 500px;
  width: 80%;
}

.post a {
  color: grey;
  font-style: italic;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.comments ul {
  list-style: none;
  padding: 0;
}

.btn-comments {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    background-color: grey;
    border: none;
  }
}

#comment_content {
  font-family: $body-font, sans-serif;
  color: grey;
}
